<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SafeMail - Dashboard</title>
		<meta charset="utf-8">
		<meta name="viewport" content ="width=divice-width, initital-scale=1.0">
		<link rel ="icon" type = "image/x-icon" href = "../static/img/SafeMail_logo.png">
	</head>
	<div id="wrapper">
		<body>
			<div>
				<link rel="stylesheet" href="../static/css/SafeMail.css">
				<header><h1><a href="/dashboard" class = "header">SafeMail</a></h1></header> 
				<nav><a href="/quarantine">Check Quarantine</a></nav>
				<nav><a href="/settings">Settings</a></nav>
				<nav><a href="/logout">Log out</a></nav>
			</div>
		</body>
	</div>
