<!DOCTYPE html>
<html lang="en">
<head>
<title>SafeMail - Home</title>
<meta charset="utf-8">
<meta name="viewport" content ="width=divice-width, initital-scale=1.0">
<link rel ="icon" type = "image/x-icon" href = "../static/img/SafeMail_logo.png">
</head>
<div id="wrapper">
<body>
<div>
<link rel="stylesheet" href="../static/css/SafeMail.css">
<header><h1><a href="/" class = "header">SafeMail</a></h1></header> 

<p>SafeMail is an AI-based tool that helps users detect phishing and other suspicious emails. 
It functions by identifying and quarantining mail based on semantic trends derived from a large dataset of spam,
	and improves over time with continuous training.</p>

<p>To get started with SafeMail, click the button below to log in and authenticate your email account.</p>
	
<nav><a href="/login">Log in</a></nav>
</div>
</body>
</div>
