
h1 {
		padding-bottom: 3em;
		text-align:center;
	}
	p {
		text-align: center;
		font-size: 20px;
		padding: 2em;
	}
	nav {
		text-align: center;
		padding-top: 2em;
		padding-bottom: 2em;
	}
	a {
		color: black;
		text-decoration:none;
		padding: 1em 4em 1em 4em;
		font-size: 30px;
		background-color: #4169E1;
		border-style:solid;
		border-color: black;
		border-radius: 10px;
	}
	a:hover {
		background-color: #728FCE
	}

	.header 
	{
		color: white;
		text-decoration:none; 
		background-color: #0b132b;
		padding: 1em 4em 1em 4em;
		font-size: 60px;
		border-color: blue;
		border-radius: 20px;
	}
	.header:hover {
		background-color: #343642;
	}
	#wrapper 
	{
		padding: 3em;
		background-image: url("../../../img/SafeMail_logo.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #C5C6C7;
		
	}
	div {
		padding: 5em;
		background-color:white;
	}
	#button {
		text-align: center;
		font-size: 30px;
		text-decoration: none;
		background-color: red;
		color: black;
		padding-left: 3em;
		padding-top:20px;
		padding-right: 3em;
		padding-bottom: 20px;
		border-color: black;
		border-style: solid;
		border-radius: 10px;
	}
	.alignment {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 200px;
	}
	img {
		max-width:50%;
		height:auto;
		text-align: center;
	}
@media (min-width: 1025px) {
	a {
		padding: 1em 6em 1em 6em;
		font-size: 30px;
	}
	
	.header 
	{
		padding: 1em 6em 1em 6em;
		font-size: 70px;
	}
	#wrapper 
	{
		padding: 4em;
	}
}
@media (max-width: 480px) {
	.header {
		font-size: 20px;
		padding: 1em;
	}
	a {
		font-size: 20px;
		padding: 1em;
	}
	#wrapper {
		padding: 8px;
	}
}

@media (min-width: 481px) and (max-width: 768px){
		.header {
		font-size: 30px;
		padding: 1em 2em 1em 2em;
	}
	a {
		padding: 1em;
	}
	#wrapper {
		padding: 1em;
	}
}
}
@media (min-width: 769px) and (max-width 1024px){
	.header {
		font-size: 60px; 
		padding: 1em 3em 1em 3em;
	}
	#wrapper {
		padding: 2em;
	}
}

